:root {
    --clr-primary: #10657b;
    --clr-secondary-light: #189abb;
    --clr-secondary-dark: #08333d;
    --clr-gray-300: #707070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial;
    font-size: 1rem;
}

header {
    text-align: center;
    text-transform: uppercase;
    background-color: var(--clr-primary);
    color: white;
    padding: 2rem;
}

header h1 {
    font-size: 2rem;
    font-weight: 400;
}

.container {
    width: 85%;
    margin: auto;
}

form {
    margin-top: 4rem;
}

.input-row {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.input-item {
    width: 100%;
}


/* .input-item:nth-child(2) {
    margin-left: 0.5rem;
} */

.input-item label {
    display: block;
    margin-bottom: 0.2rem;
}

.input-item input {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-gray-300);
    padding: 1rem;
}

.input-item input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
}

.input-item .label_inline {
    display: inline;
    vertical-align: top;
    line-height: 1.5rem;
}

.input-item button {
    margin-left: auto;
    display: block;
    padding: 0.7rem 2rem;
    background-color: var(--clr-primary);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
}

.input-item button:hover {
    background-color: var(--clr-secondary-dark);
    color: white;
}

.input-item button:active {
    background-color: var(--clr-secondary-light);
    color: white;
}

@media (max-width: 768px) {
    .input-row {
        flex-direction: column;
        margin: 0;
    }
    .input-item {
        margin-bottom: 1.5rem;
    }
    .input-item:nth-child(2) {
        margin-left: 0;
    }
    .input-item button {
        margin: auto;
    }
}